.svn
.DS_Store
node_modules/should/.idea/workspace.xml
build/*
.idea/*
*.lock
build
.idea/
html-report/
lib-cov/
node_modules/
node-sodium.sublime-project
node-sodium.sublime-workspace
*.o
*.lo
*.deps
*.dirstamp
*.la
*.log
coverage/
deps/libsodium/libtool
deps/libsodium/autom4te.cache/*
deps/libsodium/autom4te.cache/traces.0
deps/libsodium/config.log
deps/libsodium/config.status
deps/libsodium/dist-build/Makefile
deps/libsodium/Makefile
deps/libsodium/msvc-scripts/Makefile
deps/libsodium/src/libsodium/include/Makefile
deps/libsodium/src/libsodium/Makefile
deps/libsodium/src/Makefile
deps/libsodium/test/default/Makefile
deps/libsodium/test/Makefile
deps/libsodium/libtool
deps/Release/obj/libsodium/libsodium.tlog/CL.read.1.tlog
deps/Release/obj/libsodium/libsodium.tlog/Lib-link.read.1.tlog
deps/Release/obj/libsodium/libsodium.tlog/Lib-link.write.1.tlog
deps/Release/obj/libsodium/libsodium.tlog/cl.command.1.tlog
deps/Release/obj/libsodium/libsodium.tlog/cl.write.1.tlog
deps/Release/obj/libsodium/libsodium.tlog/lib.command.1.tlog
deps/Release/obj/libsodium/libsodium.tlog/libsodium.lastbuildstate
deps/libsodium.sln
deps/libsodium.vcxproj
deps/libsodium.vcxproj.filters